{{- if and .Values.telegramBotApi.enabled (not .Values.telegramBotApi.secret.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tg_file_collector.fullname" . }}-api-credentials
  labels:
    {{- include "tg_file_collector.labels" . | nindent 4 }}
type: Opaque
data:
  TELEGRAM_API_ID: {{ .Values.telegramBotApi.secret.apiId | b64enc | quote }}
  TELEGRAM_API_HASH: {{ .Values.telegramBotApi.secret.apiHash | b64enc | quote }}
---
{{- end -}}
{{- if and .Values.config.telegrambots.enabled (not .Values.config.telegrambots.security.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "tg_file_collector.fullname" . }}-bot-token
  labels:
    {{- include "tg_file_collector.labels" . | nindent 4 }}
type: Opaque
data:
  token: {{ .Values.config.telegrambots.security.token | b64enc | quote }}
{{- end -}}
